<div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2>Work Experience</h2>
        
        <div class="work-entry">
          <h3>Achievements</h3>
          <ul>
            <li>Dean’s Lister, 2021-2023</li>
            <li>Graduated with Honors in Senior High School, 2021</li>
          </ul>
        </div>
  
        <div class="work-entry">
          <h3>Technical Skills</h3>
          <ul>
            <li>C++</li>
            <li>CSS</li>
            <li>HTML</li>
            <li>PHP</li>
            <li>mySQL / SSMS</li>
            <li>Microsoft Azure</li>
            <li>C#</li>
            <li>C</li>
            <li>Java</li>
            <li>UI/UX Design</li>
            <li>Bootstrap</li>
          </ul>
        </div>
  
        <div class="work-entry">
          <h3>Soft Skills</h3>
          <ul>
            <li>Time Management</li>
            <li>Proficient in Communicating & Writing in English</li>
            <li>Willing to Learn and Grow</li>
          </ul>
        </div>
  
        <div class="work-entry">
          <h3>Volunteering</h3>
          <p>Letran Information Technology Society Officer, 2023 - Present</p>
          <ul>
            <li>Acting as a staff for the organization in gathering in meetings for organizing events.</li>
            <li>3rd Year Class Representative that informs the class of incoming events.</li>
          </ul>
        </div>
  
  
      </div>
    </div>
  </div>
  