<div class="container mt-4">
    <div class="row justify-content-center">
      <div class="col-md-12 text-center">
        <img src="https://media.licdn.com/dms/image/C5603AQFbnJ4tbT0-8A/profile-displayphoto-shrink_800_800/0/1612788641922?e=2147483647&v=beta&t=vHQ_GqiMDGqrLEIFiW6uESDAA05Pl4fbLX2fsCcsVTc" alt="Profile Picture" class="rounded-circle img-thumbnail" width="500">
        <h2 style="font-size:50px">Personal Info</h2>
        <h3 style="font-size:30px">Allen Payumo</h3>

        <div class="personal-entry">
          <h3>Career Objectives</h3>
          <p>A 3rd Year BSIT Student that is dedicated to learning and growing skills that will help pave the way for a successful career in the field of I.T.</p>
        </div>
  
        <div class="personal-entry">
          <h3>Age</h3>
          <p>20</p>
        </div>
  
        <div class="personal-entry">
          <h3>Birthday</h3>
          <p>06/02/2003</p>
        </div>
  
      </div>
    </div>
  </div>
  